.mt-0 {
  margin-top: 0!important;
}

.mt-2 {
  margin-top: .5rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.mt-8 {
  margin-top: 7.5rem !important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.px-1 {
  padding-right: .25rem!important;
  padding-left: .25rem!important;
}

.py-2 {
  padding-top: .5rem!important;
  padding-bottom: .5rem!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pt-4 {
  padding-top: 1.5rem!important;
}

.pt-7 {
  padding-top: 6rem !important;
}

